<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:username]} type="text" label="Username" />
  <.input field={f[:password]} type="text" label="Password" />
  <footer>
    <.button variant="primary">Save User</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer> 
</.form>
