<Layouts.app flash={@flash} current_user={@current_user}>
    <h2>List of bookings</h2>

    <.table id="bookings-list" rows={@bookings}>
        <:col :let={booking} label="Pickup Address">
            <%= booking.pickup_address %>
        </:col>
        <:col :let={booking} label="Dropoff Address">
            <%= booking.dropoff_address %>
        </:col>
        <:col :let={booking} label="Status">
            <%= booking.status %>
        </:col>
    </.table>

</Layouts.app>
