<Layouts.app flash={@flash}>
    <.header>
        New Booking
        <:subtitle>Use this form to order a taxi.</:subtitle>
    </.header>

    <form method="post" action="/bookings">
        <input type="hidden" name="_csrf_token" value={get_csrf_token()}>
        <input type="text" id="pickup_address" name="pickup_address">
        <input type="text" id="dropoff_address" name="dropoff_address">
        <button id="submit_button">Submit</button>
    </form>

</Layouts.app>
