<Layouts.app flash={@flash}>
    <.header>
        New Booking
        <:subtitle>Use this form to order a taxi.</:subtitle>
    </.header>

    <input id="pickup_address">
    <input id="dropoff_address">
    <button id="submit_button">Submit</button>

</Layouts.app>
